/* width */
* ::-webkit-scrollbar {
    width: 8px;
    background: #1C1C1C;
}

/* handle */
* ::-webkit-scrollbar-thumb {
    background: #ee4242;
    border-radius: 5px;
}

/* Conteudo principal */

.imgPrincipal {
    background: url("../imagens/Img\ de\ fundo.png") no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 21px;
}

.cadastro {
    
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    border: 3px black solid;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.678);
   
}

.cadastro h2 {
    font-size: 20px;
    color: #000000;
}

.cadastro form {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.cadastro form p {
    font-size: 20px;
    font-weight: 600;
    color: #050505;
}

.cadastro form input {
    background: white;
    text-align: center;
    padding: 5px;
    border: 2px black solid;
    border-radius: 15px;
}

.cadastro form button {
    background: #232a34;
    color:white;
    padding: 10px;
    margin-top: 10px;
    border: 2px black solid;
    border-radius: 15px;
    transition: 0.8s;
    cursor: pointer;
}

.cadastro button:hover {
    background-color: white;
    color: black;
}