/* width */
* ::-webkit-scrollbar {
  width: 8px;
  background: #1c1c1c;
}

/* handle */
* ::-webkit-scrollbar-thumb {
  background: #ee4242;
  border-radius: 5px;
}

/* Conteudo principal */

.imgPrincipal {
  background: url("../imagens/Img\ de\ fundo.png") no-repeat;
  background-size: cover;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 21px;
}

.login {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
  border: 3px black solid;
  border-radius: 15px;
  margin-top: 50px;
  margin-block-end: 110px;
  background: rgba(255, 255, 255, 0.678);
}

.login h2 {
  font-size: 20px;
  color: #000000;
}

.login form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login form p {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.login form input {
  background: white;
  text-align: center;
  padding: 5px;
  border: 2px black solid;
  border-radius: 15px;
}

.login form button {
  background: #232a34;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border: 2px black solid;
  border-radius: 15px;
  transition: 0.8s;
  cursor: pointer;
  width: 200px;
}

.login button:hover {
  background-color: white;
  color: black;
}

li,
a,
button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.1em;
  color: #edf0f1;
  text-decoration: none;
}
