body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color:  #9db5c8
    
} 

a:hover {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: white;
}

/* inicio navbar */
.navbar {
    background-color: #0a3d62;
    color: white;
    height: 100px;
    border-bottom: 6px #3c6382 solid;
}


.container {
    height: 100px;
    width: 80%;
    margin: auto;
}



.navbar ul {
    float: right;
    text-transform: uppercase;
}

.navbar li {
    float: left;
    list-style: none;
    margin-left: 50px;
    margin-top: 20px;
    
}



.current {
    color: #09cce6
}

/* fim nav bar */

/* 
inicio index */
  
/* inicio carousel */

#items-wrapper{
    width: 85vw;

}

#items {
display: flex;
overflow-x: auto;
scroll-snap-type: x mandatory;
-webkit-overflow-scrolling: touch;
scroll-behavior: smooth;
}
.item {
  flex: none;
  margin-top: 5px;
  width: 100%;
  height: 700px;

  scroll-snap-align: start;

  pointer-events: none;
}
 
#items-wrapper img{
width: 100%;
height: 100%;
object-fit: cover;


}

/* 
fim caroucel */
/* inicio texto */


.texto-logica h3{
  margin: 0px;
    font-size: 50px;
    padding: 60px 0px;
    text-align: center;
    color: #0a3d62;

}

.texto-logica p{
  margin: 0;
  font-size: 17px;
  text-align: left;
  font-weight: bold;
  color: black;

}

.primeira-coluna {
  width: 750px;
  height: 700px;
  float: left;
  margin: 5px;
  padding: 5px;

}

.segunda-coluna {
  width: 700px;
  height: 700px;
  float: right;
  margin: 5px;
  padding: 5px;

}
/* ICONES */



.box .box-item {
  float: left;
  width: 30%;
  text-align: center;
  margin: 20px 0;
}

.box .box-item img {
  height: 130px;
  float: center;
  
}

.footer-falso img{
  overflow: auto;


}


/* fim index */

/* FOOTER */

.footer {
  background-color:   #3c6382;
  text-align: center;
  height: 100px;
}

.footer h4 {
  color: white;
  font-weight: 100;
  margin: 0;
  padding-top: 40px;
}
/* tela contato */

.contato{
  width: 100%;
  max-width: 500px;
  

}
.form{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.field{
  padding: 10px;
  margin-bottom: 15px;
   border: 1px solid #DDD;
   border-radius: 5px;
   font-family: Arial, Helvetica, sans-serif ;
   font-size: 16px;

}

.textarea{
height: 150px;


}


.contato h3 {
    color: #0a3d62;


}

  /*  iniciocontainer login */
  .login-container {
    background-color: #0a3d62;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
    color:white;
  }
  
  /* formulário */
  .login-container form {
    margin-top: 30px;
    margin-bottom: 40px;
    color:white;

  }
  
  .login-container label, input {
    display: block;
    width: 100%;
    text-align: left;
    color: black;
  }
  
  .login-container label {
    font-weight: bold;
    font-size: .8rem;
    color:white;
  }
  
  .login-container input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .login-container input:focus {
    border-bottom: 2px solid #f5eadc;
  }
  
  .login-container #forgot-pass {
    display: block;
    text-align: right;
  }
  
  .login-container .btn_login_cadastro {
    text-align: center;
    text-transform: uppercase;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    color:white;
    background-color: #3c6382;
    font-weight: bold;
  }
  
.login-container input[type="button"]:hover {
    background-color: #1B223C;
    transition: .5s;
    
  }

  

.login-container  .extra img{
    width: 150px;


}
  
  /* redes sociais */
  #social-container {
    margin-bottom: 20px;
  }
  
  #social-container p {
    margin-bottom: 20px;
  }
  
  #social-container i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    margin: 0 5px;
    color: #FFF;
  }
  
  .fa-facebook-f {
    background-color: #3B5998;
  }
  
  .fa-linkedin {
    background-color: #0077B5;
  }
  
  /* registrar */
  #register-container p {
    margin-bottom: 10px;
  }

  /* Inicio pagina sobre */

.banner_sobre {
    width: 100%;
    height: 500px;
    background: #9db5c8;
    display: flex;
    justify-content: flex-end;
    border-bottom: solid 3px #3B5998;
}

.countainer_sobre{
    height: 460px;
    border: solid 0px red;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 300px;
}

.texto_sobre{
    font-size: 28px;
    width: 700px;
    text-align: left;
}

.countainer_sobre h1{
    color: #3B5998;
}

.img_sobre{
    margin: 35px 130px;
}

.img_sobre img{
    width: 300px;
}

.time_sobre h1 {
    color: #3B5998;
    text-transform: uppercase;
    padding-right: 30px;
}

.secao_time {
    height: 526px;
    border: solid 0px red;
    display: flex;
    justify-content: center;  
    background:  #9db5c8;
      
}

.time_sobre {
    width: 43%;
    height: 460px;
    text-align: center;
 
}

.texto_time {
    font-size: 28px;
    width: 700px;
    text-align: left;
}

.img_time img {
    width: 571px;
    margin: -0px 71px;
    height: 527px;
}
/* fim sobre */

/* inicio desafio */
.jogo_ponte {
  overflow: auto;
  background-color:  #9db5c8;
}

.imagens-desafio {
  float: left;
  width: 80%;
  text-align: left;
  margin: 60px 0;
}

.jogo_ponte .imagens-desafio img {
  height: 100px;
}

.jogo_ponte  h2 {
    color: #3B5998;

}
.jogo_ponte  p {
  color: black;
  font-weight: bolder;

}

.jogo_ponte button{
  background-color: #3B5998;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0;
  cursor: pointer;

}
/* fim desafio */

