.banner{
    border-bottom: red;
    height: 610px;
    background: #adadad url(../imagens/pexels-pixabay-158826.jpg) no-repeat fixed;
    background-blend-mode: darken;
    background-size: cover;
}

.bannerBox{
    padding: 70px 150px 150px 150px;
    color: rgb(245, 236, 236);
    width: 80%;
}

.bannerBox h1{
    font-size: 95px;
}

.bannerBox h1 span{
    color: rgb(231, 228, 34);
}
