.banner{
    border-bottom: red;
    height: 610px;
    background-image: linear-gradient(to top, rgb(252, 249, 249) , rgb(255, 153, 19));
    /*background: #adadad url(../imagens/pexels-pixabay-158826.jpg) no-repeat fixed;*/
    background-blend-mode: darken;
    background-size: cover;
}

.bannerBox{
    padding: 70px 150px 150px 150px;
    color: rgb(0, 0, 0);
    width: 80%;
}

.bannerBox span{
    color: black;
}

.bannerBox h1{
    font-size: 95px;
}


