.sobre{
    height: 720px;
    background: #89d4fe url(../imagens/fundosobre.jpg) no-repeat scroll;
    background-size:  1265px;
    background-position: right;
    padding: 0px 0px 0px 0px;    
}

.sobre h1{
    text-align: center;
    padding: 10px;
    color: rgb(233, 133, 40);
}

.titulo{
    border-radius: 50px;
    
    margin-bottom: 24px;
    text-align: center;
    justify-content: space-around;
    background-color: white;

}

.box1{
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background-color: white;

}

.box1 p{
    padding: 18px;
    font-weight: bold;


}

.p2{
    
}