*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body{
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-areas: 'navbar' 'main' 'footer';
    grid-template-rows: 75px minmax(100vh, auto) 85px;
    grid-template-columns: auto;
}

/*corpo do site*/

.container{
    width: 80%;
    margin: auto;
    height: auto;
}

.container2{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*logo da empresa*/

.logo{
    color: rgb(12, 11, 11);
    font-weight: bolder;
    display: flex;
    align-items: center;
}


/*navbar*/
.navbar {
    grid-area: navbar;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255) , rgb(255, 140, 9));
    display: flex;
    justify-content: space-around;
}

main{
    grid-area: main;
}

.navbar ul{
    text-transform: uppercase;
    display: flex;
}
    

.navbar li{
    list-style: none;
    line-height: 75px;
}

.navbar a{
    border-radius: 5px;
    padding: 7px 13px;
    color: rgb(14, 12, 12);
    text-decoration: none;
}

.navbar a.activate,
.navbar a:hover{
    background-color: rgb(76, 77, 76);
    color: rgb(255, 251, 251);
    transition: .60s;
}


/*footer*/
.footer{
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255) , rgb(255, 153, 19));
    color: rgb(14, 12, 12);
    padding: 20px;
    justify-content: space-around;
    grid-area: footer;
    height: 90px;
   
}

.footer .container2 img{
    width: 80px;
}

.footer .container2 .logo{
    align-self: center;

}

.footer .container2{
    display: flex;
    justify-content: space-between;
}

