html {
    scroll-behavior: smooth;
}

* {
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0%;
    margin: 0;
}

/* Navbar */

.navbar {
    height: 10vh;
    background-color: #232a34;
    display: flex;
    justify-content: center;
    border-bottom: 3px #f04c4cd4 solid;
}

.navbarMid {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.imgNavbar {
    display: flex;
    align-items: center;
}

.imgNavbar img {
    width: 180px;
}

.textoNavbar {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.textoNavbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    list-style-type:  none;
}

.textoNavbar ul li a {
    list-style-type: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: opacity 0.8s;
    text-transform: uppercase;
}


.textoNavbar a {
    text-decoration: none;
}

.current {
    color: #f04c4cd4 !important;
}