
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.div-dashboard {
    background-color: #F6FAFD;
    width: 100%;
    height: 100vh;
}
.container {
    max-width: calc(1180px + 2.5rem);
    padding: 0px 1.25rem;
    margin: auto;
}
a {
    color: orangered;
    text-decoration: underline;
    cursor: pointer;
}

/* NAVBAR */

.navbar {
    height: 50px;
    width: 100%;
    background-color: #4F255A;
    box-sizing: border-box;
}
.navbar a {
    color: white;
    text-decoration: none;
}
.container-navbar {
    height: 50px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* DISPLAY */

.div-flex {
    display: flex;
    align-items: center;
}
.display-none {
    display: none !important;
}
.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.space-around {
    display: flex;
    justify-content: space-around;
}
.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.column-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
}
.flex-start {
    display: flex;
    justify-content: flex-start;
}

/* BUTTON */

.button-primary {
    background-color: orangered;
    color: white;
    border: none;
    font-weight: 500;
    height: 2.5rem;
    font-size: 15px;
    padding: 11px;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    border-color: rgb(255, 112, 67);
}
.button-default {
    padding: 11px;
    font-weight: 500;
    background-color: #FFF;
    border: 1px solid #CBD5E0;
    border-radius: 0.375rem;
    color: #2D3748;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    outline: none;
    cursor: pointer;
}

/* CARD */
.card-body {
    background-color: #FFF;
    border: 1px solid #CBD5E0;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    padding: 1rem;
    margin-bottom: 1rem;
}
.card-title {
    background-color: #FFF;
    border: 1px solid #CBD5E0;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    padding: 1rem;
    margin-bottom: 1rem;
}

/* BARRA DE ROLAGEM */
::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #4F255A;    /* color of the scroll thumb */
}

::-webkit-scrollbar-thumb {
    background: black;        /* color of the tracking area */
}

/* MARGIN */

.margin-0 {
    margin: 0;
}
.mt-30 {
    margin-top: 28px;
}
.mr-1 {
    margin-right: 1rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mb-1 {
    margin-bottom: 1rem !important;
}

/* INPUT */
input {
    font-size: 0.875rem;
    height: 1.5rem;
    color: rgb(45, 55, 72);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    padding: calc(0.375rem) 0.75rem;
    border-radius: 0.375rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(203, 213, 224);
    border-image: initial;
    outline: none;
}
/*  SELECT */
select {
    font-size: 0.875rem;
    height: 2.5rem;
    color: rgb(45, 55, 72);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    padding: calc(0.375rem) 0.75rem;
    border-radius: 0.375rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(203, 213, 224);
    border-image: initial;
    outline: none;
}
/* BORDER */

.bt-1 {
    border-top: 1 px solid rgb(203, 213, 224) !important;
}
.bb-1 {
    border-bottom: 1 px solid rgb(203, 213, 224) !important;
}

/* MODAL */
.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    top: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.35s;
}
.modal > .card-body {
    min-width: 300px;
}
.icon-modal {
    font-size: 40px;
    transition: 0.35s;
    cursor: pointer;
}
.mensagem-sucesso {
    position: fixed;
    height: 40px;
    width: 300px;
    background-color: #A3EBB1;
    color: green;
    top: -100px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.35s;
    border-radius: 7px;
    padding: 1rem;
}

/* TEXT COLOR */
.text-danger {
    color: red;
}