@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open-sans', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white ;
}

.content{
    background-color: white;
    border-radius: 15px;
    width: 960px;
    height: 70%; 
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.content::before{
    content: "";
    position: absolute;
    background-color: #f3a449;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 0;
}

.title{
    
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary{
    color: #fff;
}

.title-secundary{
    color: #fbcf5a;
}

.description{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary{
    color: #fff;
}

.description-second{
    color: gray;
}

.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    border: none;
    width: 150px;
    margin: 1rem;
}

.btn-primary{
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}

.btn-primary:hover{
     background-color: #fff;
     color:#d3b051;
}

.btn-secound{
    background-color: #f3a449;
    border: 1px solid rgb(224, 17, 86);
    transition: background-color .5s;
}

.btn-secound:hover{
    background-color: #fff;
    border: 1px solid #f3a449;
    color: gray;
}

.first-content{
    display: flex;
}

.first-content .secound-column{
    z-index: 11;

}

.first-column{
    text-align: center;
    width: 40%;
    z-index: 10;
}

.secound-column{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list{
    display: flex;
    list-style-type: none;
}
.social-media{
    margin: 1rem 0;
}

.link-social-media:not(:first-child){
    margin-left: 10px;
}

.link-social-media .item-social-media{
    transition: background-color 1s;
}
.link-social-media:hover .item-social-media{
    background-color: #f3a449;
    color: #fff;
}

.item-social-media{
    border: 1px solid gray;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #f3a449;
}


.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form input{
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    width: 100%;
    margin-left: 9px;
}

.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify{
    color: black;
    padding: 0.5px;
    margin-left: 13px;
}

.secound-content{
    position: absolute;
    display: flex;
  
}

.secound-content .first-column{
    order: 2;
    z-index: -1;

}

.secound-content .secound-column{
    order: 1;
    z-index: -1;
}


.sign-in-js .first-content .first-column, 
.sign-in-js .first-content .secound-column{
    z-index: -1;
   
}

.sign-in-js .secound-content .secound-column{
    z-index: 11;
}

.sign-in-js .secound-content .first-column{
    z-index: 13;
}

.sign-in-js .content::before{
    left: 60%;
    animation: slidein 3s;
    z-index: 12;
}

.sign-up-js .content::before{
    animation: slideout 3s;
    z-index: 12;

}


.sign-up-js .secound-content .first-column,
.sign-up-js .secound-content .secound-column{
    z-index: -1;
}


.sign-up-js .first-content .secound-column{
   z-index: 11;
}

.sign-up-js .first-content .first-column{
    z-index: 13;
}


.sign-in-js .first-content .secound-column{
    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 3s;
}


.sign-up-js .secound-content .secound-column{
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 3s;
}


@keyframes deslocamentoEsq{
    from{
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25%{
        left: -80px;
        opacity: .5;
        z-index: 12;
    }

    50%{
        left: -100px;
        opacity: .2;
        z-index: 12;
    }

    to{
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}


@keyframes deslocamentoDir{
    from{
        left: 0;
        z-index: 12;
    }

    25%{
        left: 80px;
    }

    50%{
        left: 100px;

    }

    to{
        left: 110px;
        z-index: -1;
    }

}






@keyframes slidein{
    from{
        left: 0;
        width: 40%;

    }

    25%{
        left: 5%;
        width: 50%;

    }

    50%{
        left: 25%;
        width: 60%;

    }

    75%{
        left: 45%;
        width: 50%;

    }

    to{
        left: 60%;
        width: 40%;

    }
}




@keyframes slideout{
    from{
        left: 60%;
        width: 40%;

    }

    25%{
        left: 45%;
        width: 50%;

    }

    50%{
        left: 25%;
        width: 60%;

    }

    75%{
        left: 5%;
        width: 50%;

    }

    to{
        
        left: 0;
        width: 40%;

    }
}












/*VERSÃO MOBILE*/
@media screen and (max-width: 1040px) {
    .content {
        width: 100%;
        height: 100%;
    }

    .content::before {
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 0;
    }
    .first-content, .second-content {
        flex-direction: column;
        justify-content: space-around;
    }

    .first-column, .second-column {
        width: 100%;
    }

    .sign-in-js .content::before {
        top: 60%;
        left: 0;
        border-radius: 0;

    }

    .form {
        width: 90%;
    }

    /* ANIMAÇÃO MOBILE CSS*/

    @keyframes deslocamentoEsq {

        from {
            top: 0;
            opacity: 1;
            z-index: 12;
        }

        25% {
            top: -80px;
            opacity: .5;
            /* z-index: 12; NÃO HÁ NECESSIDADE */
        }

        50% {
            top: -100px;
            opacity: .2;
            /* z-index: 12; NÃO HÁ NECESSIDADE */
        }

        to {
            top: -110px;
            opacity: 0;
            z-index: -1;
        }
    }


    @keyframes deslocamentoDir {

        from {
            top: 0;
            z-index: 12;
        }

        25% {
            top: 80px;
            /* z-index: 12;  NÃO HÁ NECESSIDADE*/
        }

        50% {
            top: 100px;
            /* z-index: 12; NÃO HÁ NECESSIDADE*/
            /* background-color: yellow;  Exemplo que dei no vídeo*/
        }

        to {
            top: 110px;
            z-index: -1;
        }
    }



    @keyframes slidein {

        from {
            top: 0;
            height: 40%;
        }

        25% {
            top: 5%;
            height: 50%;
        }

        50% {
            top: 25%;
            height: 60%;
        }

        75% {
            top: 45%;
            height: 50%;
        }

        to {
            top: 60%;
            height: 40%;
        }
    }

    @keyframes slideout {

        from {
            top: 60%;
            height: 40%;
        }

        25% {
            top: 45%;
            height: 50%;
        }

        50% {
            top: 25%;
            height: 60%;
        }

        75% {
            top: 5%;
            height: 50%;
        }

        to {
            top: 0;
            height: 40%;
        }
    }

}

@media screen and (max-width: 740px) {
    .secound-column{
        height: 38%;
    }

    .sign-in-js .secound-content .secound-column{
        height: 95%;
        margin-left: 20%;
    }

    .sign-in-js .secound-content .first-column{
        position: absolute;
        height: 0px;
        margin-top: 60%;
    }

    .content::before{
        width: 100%;
        height: 51%;
        top: 0;
        border-radius: 0;
    }
    
    .form {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .form {
        width: 100%;
    }

    .title{
        font-size: medium;
    }
}